<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/X-admin/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">rowid</label>
        <div class="layui-input-block">
            <input type="text" id="id" required readonly autocomplete="off" class="layui-input"
                   th:value="${knife.getId()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">qq</label>
        <div class="layui-input-block">
            <input type="text" id="userQQ" required autocomplete="off" class="layui-input"
                   th:value="${knife.getKnifeQQ()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">伤害</label>
        <div class="layui-input-block">
            <input type="text" id="hurt" required lay-verify="number" th:value="${knife.getHurt()}" autocomplete="off"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">当前周目</label>
        <div class="layui-input-block">
            <input type="text" id="loop" required autocomplete="off" class="layui-input"
                   th:value="${knife.getLoop()}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">当前王位</label>
        <div class="layui-input-block">
            <input type="text" id="serial" required autocomplete="off" class="layui-input"
                   th:value="${knife.getPosition()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">日期</label>
        <div class="layui-input-block">
            <input class="layui-input" id="time">
        </div>
    </div>
    <script type="text/javascript">
        //设置日期选择框
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#time', //指定元素
                type: 'datetime', //指定元素
                format: "yyyy:MM:dd HH:mm:ss",//指定元素
                value: "[[${knife.getDate()}]]",
                max: 0
            });

        });
    </script>
</form>


</body>
</html>