<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div style="height: auto!important;"  >
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" th:fragment="top">
        <a href="/" class="navbar-brand router-link-active">
            <!--<img width="50%" src="/static/images/logo.png" alt="蘭德索爾圖書館" class="img-fluid">-->
        </a>
        <button id="nav-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed">
            <div id="nav-icon3" class=""><span></span><span></span><span></span><span></span></div></button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="p-1 p-lg-2"><a href="/Base/start">基础信息</a></li>
                <li class="p-1 p-lg-2"><a href="/Fight/simple">工会战</a></li>
                <li class="p-1 p-lg-2"><a href="/Fight/List">出刀列表</a></li>
                <li class="p-1 p-lg-2"><a href="/Group/team">工会成员</a></li>
                <li class="p-1 p-lg-2"><a href="/Fight/static">会战统计</a></li>
                <li class="p-1 p-lg-2"><a href="/exit">退出</a></li>
            </ul>
        </div>
    </nav>

</div>
</body>
