<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--主体-->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote class="layui-elem-quote">欢迎：
                        <span class="x-red" th:text="${username}"></span>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">数据统计</div>
                <div class="layui-card-body ">
                    <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>工会成员数</h3>
                                <p>
                                    <cite th:text="${group_teams.size()}"></cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body"><img
                                    src="../../../../../../AppData/Local/Temp/28a37e6034a85edf517e3e4a5e540923dc547578.jpg"/>
                                <h3>今日出刀数</h3>
                                <p>
                                    <cite th:text="${knifeCount}==0?'--':${knifeCount}"></cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>现在boss周目</h3>
                                <p>
                                    <cite th:text="${loop}!=null?${loop}:'--'"></cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>现在boss王位</h3>
                                <p>
                                    <cite th:text="${Serial}!=null?${Serial}:'--'"></cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>现在boss残余血量</h3>
                                <p>
                                    <cite th:text="${Remnant}!=null?${Remnant}:'--'">67</cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6 ">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>昨日对boss伤害最高</h3>
                                <p>
                                    <cite th:text="${topKnife}!=null?${topKnife}:'--'"></cite></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card-body ">
                    <div class="layui-card-header">
                        今日出刀
                        <div class="layui-card-body">
                            <div th:unless="${knives}!=null">--</div>
                            <table class="layui-table" th:if="${knives}!=null">
                                <thead>
                                <tr>
                                    <th>出刀id</th>
                                    <th>QQ</th>
                                    <th lay-fileNames="{ sort: true}">伤害</th>
                                    <th>周目</th>
                                    <th>王位</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="knife:${knives}">
                                    <td th:text="${knife.getId()}"></td>
                                    <td th:text="${knife.getKnifeQQ()}"></td>
                                    <td th:text="${knife.getHurt()}"></td>
                                    <td th:text="${knife.getLoop()}"></td>
                                    <td th:text="${knife.getPosition()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
